body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.nav-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo {
  color: #4d5ae5;
}

.nav-logo .logo-span,
.footer-logo .logo-span {
  color: #2e2f42;
}

.nav-list__list-item .link,
.contact .link,
.second-section .text,
.list-item .text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list__list-item .link,
.contact .link {
  color: #2e2f42;
}

.nav-list__list-item .link:hover,
.nav-list__list-item .link:focus,
.contact .link:hover,
.contact .link:focus {
  color: #404bbf;
}

.first-section {
  background-color: #2e2f42;
}

.first-section__title,
.third-section__title,
.forth-section__title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  text-transform: capitalize;
}

.first-section__btn {
  font-weight: 500;
  color: #FFFFFF;
  background-color: #4D5AE5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.first-section__btn:hover,
.first-section__btn:focus {
  background-color: #404BBF;
}

.second-section__list-title,
.third-section__list .member-name,
.list-item__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.third-section {
  background-color: #f4f4fd;
}

.third-section__list .list-item {
  background-color: #FFFFFF;
}

.footer {
  background-color: #2e2f42;
}

.footer .text {
  color: #F4F4FD;
  letter-spacing: 0.02em;
  line-height: 1.5;
}